[Unit]
Description=Homebase dump1090-fa
After=multi-user.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/dump1090-fa --net --write-json /run/homebase/dump1090
Restart=always
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target