[Unit]
Description=Homebase dump978-fa
After=network-online.target systemd-udev-settle.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -lc 'mkdir -p /run/homebase/dump978 && exec /usr/local/bin/dump978-fa --sdr driver=rtlsdr,index=0 --json-stdout > /run/homebase/dump978/aircraft.json'
# ExecStart=/usr/local/bin/dump978-fa --sdr driver=rtlsdr,index=1 --json-stdout
Restart=always
RestartSec=10
StartLimitIntervalSec=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target