[Unit]
Description=Homebase dump978-fa
After=network-online.target systemd-udev-settle.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dump978-fa --sdr driver=rtlsdr,index=0 --write-json /run/homebase/dump978
# ExecStart=/usr/local/bin/dump978-fa --sdr driver=rtlsdr,index=1 --json-stdout
Restart=always
RestartSec=10
StartLimitIntervalSec=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target