[Unit]
Description=Homebase Hostname + Avahi mDNS Fix
Wants=network-online.target
After=network-online.target systemd-hostnamed.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/hostnamectl set-hostname homebase
ExecStart=/bin/sleep 2
ExecStart=/bin/systemctl restart avahi-daemon

[Install]
WantedBy=multi-user.target