[Unit]
Description=Homebase Hotspot Mode
After=network.target

[Service]
ExecStart=/bin/bash -c 'systemctl stop dhcpcd && systemctl start hostapd dnsmasq'
RemainAfterExit=yes