[Unit]
Description=Homebase boot network selector
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ping -c1 8.8.8.8 && systemctl start homebase-normal || systemctl start homebase-hotspot'

[Install]
WantedBy=multi-user.target