[Unit]
Description=Homebase Hostname + Avahi mDNS Fix
After=network-online.target systemd-hostnamed.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostnamectl set-hostname homebase
ExecStart=/bin/systemctl restart avahi-daemon

[Install]
WantedBy=multi-user.target