[Unit]
Description=Homebase Setup API (Flask)
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/homebase/app
ExecStart=/usr/bin/python3 /opt/homebase/app/server.py
Restart=always
Environment=AEROFRAME_LOGIN_URL=https://aerofra.me/api/auth/login.php

[Install]
WantedBy=multi-user.target